* {
    margin: 0;
    padding: 0; /* A standard practice, for better and easier web pages */ 
    font-family: 'Montserrat';  /* My preffered font */
}

body {
    background-color: black;  /* My preffered appearance */
}

/* The moving box */

#box {
    height: 20vh;
    width: 20vw;
    background-color: black;
    border: 4px black solid;
    border-radius: 10px;
    position: fixed;
}

/* The result */

#write {
    border: 5px solid beige;
    border-radius: 20px;
    background-color: beige;
    height: 20vh;
    width: 50vw;
    left: 25vw;
    top: 40vh;
    position: fixed;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* The result decoration */

#write2 {
    border: 4px beige solid;
    position: fixed;
    display: none;
    top: 63vh;
    width: 25vw;
    left: 37.5vw;
    border-radius: 3px;
}

/* For the name of the test */

#head {
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 50px;
    width: 60vw;
    border: 5px white solid;
    align-self: center;
    justify-self: center;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgba(255, 234, 0, 0.182);
    margin: 25px;
}
