* {
    margin: 0;
    padding: 0; /* A standard practice, for better and easier web pages */ 
    font-family: 'Montserrat';  /* My preffered font */
}

body {
    background-color: black;  /* My preffered appearance */
}

/* The moving box */

#box {
    height: 20vh;
    width: 20vw;
    background-color: black;
    border: 4px black solid;
    border-radius: 10px;
    position: fixed;
}

/* The result */

#write {
    border: 5px solid beige;
    border-radius: 20px;
    background-color: beige;
    height: 20vh;
    width: 50vw;
    left: 25vw;
    top: 40vh;
    position: fixed;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* The result decoration */

#write2 {
    border: 4px beige solid;
    position: fixed;
    display: none;
    top: 63vh;
    width: 25vw;
    left: 37.5vw;
    border-radius: 3px;
}

/* The introduction */

#des {
    border: solid black 5px;
    border-radius: 15px;
    height: 60vh;
    width: 50vw;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    left: 25vw;
    top: 25vh;
    position: fixed;
    flex-direction: column;
}

/* For all the buttons - a standard type of buttons in the webpage */

button {
    padding: 5px 10px;
    background-color: lightgrey;
    border-radius: 4px;
    border: lightgrey solid 1px;
}

/* All the best Greeting */

#greet {
    font-weight: bolder;
    display: none;
    border: solid black 5px;
    border-radius: 15px;
    height: 50vh;
    width: 50vw;
    background-color: cornsilk;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    left: 25vw;
    top: 25vh;
    position: fixed;
    flex-direction: column;
    font-size: large;
}

#click {
    display: none;
}

/* For suggestion */ 

#suggestion {
    border: 2px solid grey;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: rgba(211, 211, 211, 0.404);
}

/* For the instructions */

#instructions {
    font-size: large;
    text-decoration: underline solid lightgrey;
}

/* For the name of the test displayed in the beginning */

#head {
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100px;
    width: 60vw;
    border: 5px white solid;
    left: 20vw;
    top: 50px;
    align-self: center;
    justify-self: center;
    position: fixed;
    font-size: xx-large;
    font-weight: bold;
    z-index: +1;
    border-radius: 20px;
    background-color: rgba(255, 234, 0, 0.182);
}
